$black: rgba(8, 15, 21, 1);
$white: rgba(255, 255, 255, 1);
$highlight: rgba(190, 30, 45, 1);
$grey: rgba(137, 148, 152, 1);
$grey-background: rgba(238, 238, 238, 1);
$success: rgba(90, 138, 147, 1);
$success-background: rgba(243, 255, 252, 1);
$popup-overlay: rgba(74, 83, 91, 0.6);
